{% extends "base.html" %}
{% load static %}

{%block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Logs</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Your Logs
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add_log' %}" class="btn btn-primary">
        Create New Log</a>
    </div>
  </div>


   <div class="container">
    {% include 'partials/_messages.html'%}
    {% if logs.count %}
    {% comment %} <div class="row col-md-4"></div> {% endcomment %}

     <div class="row col-md-4">
      
      <div class="form-group">
        <input type="text" class="form-control mb-2" id="searchField" placeholder="Search By Anything" />
      </div>
    </div> 

    <div class="app-table">

      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for log in page_obj%}
          <tr>
            <td>{{log.title}}</td>
            <td>{{log.desc}}</td>
            <td>{{log.date}}</td>
            <td><a href="{% url "edit_log" log.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
            <td><a href="{% url "show_log" log.id %}" class="btn btn-success btn-sm">More Details</a></td>
            {% comment %} <td><a href="{% url "delete_log" log.id %}" class="btn btn-danger btn-sm">Delete</a></td> {% endcomment %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="no-res"> </div>

    <div class="table-output-true">
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Image</th>
          </tr>
        </thead>

        <tbody class="table-body">

        </tbody>
      </table>
    </div> 


    <div class="pagination-container">

      <div class=""> Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</div>

      <ul class="pagination align-right float-right mr-auto">
        {% if page_obj.has_previous %}
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}> <a href="?page=1"
            class="page-link">&laquo;
            1</a></li>
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
        {% endif %}


        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number}}" class="page-link">Next</a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}"
            class="page-link">{{page_obj.paginator.num_pages}}</a></li>
        {% endif %}

      </ul>
      {% else %}
      <p>No Logs Created</p>

      {% endif %}
    </div>
  </div> 
</div>
<script src={% static "js/searchExpenses.js" %}></script>

{%endblock content%}