{% load static %}

<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">E-SIWES</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page">
            <svg class="bi">
              <use xlink:href="#house-fill" />
            </svg>
            {% comment %} <span class="text-uppercase">
              {% endcomment %}( {{ request.user.student }}
              ){% comment %}
            </span> {% endcomment %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{% url 'student_home' %}">
            <svg class="bi">
              <use xlink:href="#file-earmark" />
            </svg>Home (See All Logs)
          </a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'income_homepage' %}">
            <svg class="bi">
              <use xlink:href="#cart" />
            </svg>Income
          </a>
        </li> {% endcomment %}
      </ul>
      {% comment %} <h6 class="sidebar-heading d-flex justify-content-between align-items-center text-body-secondary text-uppercase">
        <span>Settings</span>
        <a class="link-secondary" aria-label="Add a new report">
          <svg class="bi">
            <use xlink:href="#plus-circle" />
          </svg>
        </a>
      </h6> {% endcomment %}

      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center">
            <form action=" {% url 'logout' %}" method="POST">
              {% csrf_token %}

              <svg class="bi">
                <use xlink:href="#door-closed" />
              </svg>
              <input type="submit" value="Sign-Out" class="nav-link" />
            </form>
          </a>
        </li>
      </ul>

      <hr class="my-3" />

      {% comment %} <ul class="nav flex-column mb-auto" style="display: flex; flex-direction: row; align-items: center;">
        <li class="nav-item text-nowrap">
          <a class="nav-link d-flex align-items-center gap-2">
            <form action=" {% url 'logout' %}" method="POST">
              {% csrf_token %}

              <svg class="bi">
                <use xlink:href="#door-closed" />
              </svg>
              <input type="submit" value="Sign-Out" class="nav-link" />
            </form>
          </a>
        </li>
      </ul> {% endcomment %}
    </div>
  </div>
</div>
