{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-6">

        <div class="card mt-5">

            <div class="card-body">

                <div class="card-title py-3">
                    <h4> Please enter your email address to get reset link </h4>
                </div>


                <form action="{% url 'request_reset_pswd' %}" method="post">

                    {% csrf_token %}

                    {% include  'partials/_messages.html'%}

                   


                    <div class="form-group">
                        <input type="email" name="email" id="emailField" placeholder="email" 
                            class="form-control form-control-sm" value="{{emailValue}}">
                    </div>
                    <div class="email_invalid_feedback invalid-feedback" style="display:none"></div>



                    <input type="submit" value="Send Reset Link" class="btn btn-block btn-primary p-3" id="submitBtn" />
                </form>
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <span>Have An Account?</span>
                        <a href={% url "login" %}> Login </a>
                    </div>
    
                    <div>
                        <span>Don't Have An Account?</span>
                        <a href={% url "register" %}> Register </a>
            </div>

            </div>
  

        </div>

    </div>
    <div class="col-md-3"></div>

</div>

{% comment %} <script src={% static 'js/reset.js' %}> </script> {% endcomment %}


{% endblock content %}